<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
    <form method="post">
        {{form}}
        </form>
    <form method="post">{% csrf_token %}
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname1" ><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname1" ></br>
        <label for="Pnumber">Pan Card Number:</label></br>
        <input type="int" id="Pnumber" name="Pnumber1" ></br>
        <div>
            <p>the user doesnt exist pllease create user</p>
        </div>
        <label for="Anumber">Account Number:</label><br>
        <input type="int" id="Anumber" name="Anumber" ><br>
         Account type:</br>
        <input type="radio" id="savings" name="Atype" value="Saving">
        <label for="savings">Savings</label><br>
        <input type="radio" id="current" name="Atype" value="Current">
        <label for="current">Current</label><br>
        <label for="cards">Card Type:</label>
        <select id="cards" name="cards">
        <option value="debit">Debit</option>
        <option value="credit">Credit</option>
        </select></br>
        <input type="submit" value="Submit">
        </form>
</body>
</html>