{% extends 'bank/base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for acc in accs %}
    <div class="col">
        <div style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        <h2 class="card-title">{{acc.account_name}}</h2>
                        <h4 class="card-subtitle mb-2 text-muted">{{acc.account_no}}</h4>
                        <a href="{% url 'Card-Details' %}" class="card-link">Cards</a>
                        <a href="{% url 'Transaction-Details' %}" class="card-link">Transactions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}