{% extends 'bank/base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for card in cards %}
    <div class="col">
        <div style="padding-bottom: 20px;">
            <div class="card">
                <div class="card-body">
                    <div class="card-body">
                        <h2 class="card-title">{{card.c_type}}</h2>
                        <h4 class="card-subtitle mb-2 text-muted">{{c.card_no}}</h4>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}